.App {
    text-align: center;
}

.App-header {
    padding-bottom: 40px;
}

.App-title {
    font-size: 26px;
    min-width: 280px;
}

.App-title-text {
    border-bottom: 3px solid black;
    padding: 7px 14px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
} 

nav ul li::after {
    content: "o";
    margin: 0 5px;
}

nav ul li:last-of-type::after {
    content: none;
}

article {
    animation: fade-in 1s linear;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}